.header-Manage-Spots {
    padding: 10px 50px;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Roboto, Helvetica, sans-serif;
}
.spot-div {
    max-width: 100%;
    padding: 0px 40px;
    padding-top: 15px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
}


.spot-name {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Roboto, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    font-family: Roboto, Helvetica, sans-serif;
}

.header-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 6px;
    width: fit-content;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    box-sizing: border-box;
    height: auto;
}

.img-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 350px;
}

.main-picture {
    height: 100%;
    width: 50%;
    padding-right: 3px;
}


.side-picture {
    height: 50%;
    width: 50%;
    box-sizing: border-box;
}


.owner-detail {
    font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
    margin-bottom: 0;
}


.spot-detail-section {

    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(165, 165, 165, 0.4);
}

.spot-description {
    display: flex;
    justify-content: left;
    font-family: 'Roboto', 'Helvetica Neue', 'sans-serif';
    font-size: 20px;
    max-width: 90%;
}

.reserve-card {

    border: solid black;
    border-radius: 5px;
    padding: 10px 20px 10px;
    margin-top: 20px;
    min-width: 30%;
    min-height: 130px;
}

.reserve-top {
    display: flex;
    justify-content: space-between;
}

.reserve-top-left {
    display: flex;
    width: 30%;
    justify-content: left;
}

.reserve-top-right {
    display: flex;
    width: 70%;
    justify-content: right;
}

.Spot-price{
    font-weight: bold;
    font-size: 18px;
}
.reserve-ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 6px;
    width: fit-content;
    font-size: 20px;

}

.reserve-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 6px;
    width: fit-content;
    font-size: 20px;
}

#star-reserve {
    align-self: center;
    font-size: 70%;
    padding-bottom: 3px;
    padding-right: 5px;
}

#pic-1 {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

#pic-2 {
    padding-bottom: 2px;
    padding-left: 3px;
    padding-bottom: 3px;
}

#pic-3 {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

#pic-4 {
    padding-left: 3px;
    padding-bottom: 3px;
}

.review-user-name {
    font-size: 15px;
}

.review-date {
    font-size: 12px;
    color: gray
}

.review-spots-text {
    font-family: 'Circular', 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', sans-serif;
    font-size: 18x;
}

.spot-reviews-header-left {
    display: flex;
    width: fit-content;
    justify-content: left;
}


.delete-review  {
    background-color: darkcyan;
    width: 5%;
    border: none;
    border-radius: 5px;
    height: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .post-review  {
    background-color: darkcyan;
    width: 12%;
    border: none;
    border-radius: 5px;
    height: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
  }

  #star-detail {
    align-self: center;
    font-size: 65%;
    padding-bottom: 4px;
    padding-right: 5px;
}

@media (max-width: 734px) {
    .big-picture {
        width: 100%;
    }

    .small-picture {
        display: none;
    }
}
